<div class="section cont-pad">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Movie Title</th>
                <th>Year</th>
                <th>Actors</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of moviesDB">
                <td>{{movie.title}}</td>
                <td>{{movie.year}}</td>
                <td>{{onListActors(movie)}}</td>

            </tr>
        </tbody>
    </table>