<div class="section cont-pad">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Delete?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of moviesDB">
                <td>{{movie.title}}</td>
                <td>{{movie.year}}</td>
                <td><button type="submit" class="btn btn-danger" (click)="onDeleteMovie(movie)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>