<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h2 class="sub-header sh">Actor List</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Birth Year</th>
                            <th>Select Actor</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actor of actorsDB">
                            <td>{{actor.name}}</td>
                            <td>{{actor.bYear}}</td>
                            <td><button class="btn"
                                    [ngClass]="{'btn-primary': actorId != actor._id,'btn-success': actorId == actor._id}"
                                    (click)="actorSelect(actor)">
                                    {{actorId != actor._id ? 'Select Actor' : 'Selected'}}
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <h2 class="sub-header sh">Movie List</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Movie Title</th>
                            <th>Year</th>
                            <th>Select Movie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of moviesDB">
                            <td>{{movie.title}}</td>
                            <td>{{movie.year}}</td>
                            <td><button class="btn"
                                    [ngClass]="{'btn-primary': movieId != movie._id,'btn-success': movieId == movie._id}"
                                    (click)="movieSelect(movie)">
                                    {{movieId != movie._id ? 'Select Movie' : 'Selected'}}
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onAddActorMovie()">Add {{fullName}} to {{title}}</button>
</div>